<form action='/auth/login' method='POST'>

  <label for=''>Email</label>
  <input type='text' name='email'>

  <label for=''>Password</label>
  <input type='text' name='password'>

  <label for=''>Age</label>
  <input type='number' name='age'>

  <button type='submit'>Submit</button>
</form>