<h1>ADD NEW BOOK</h1>

<form action='/books/add' method='POST'>

  <label for=''>Title</label>
  <input type='text' name='title'>

  <br>
  <label for=''>Descritpion</label>
  <input type='text' name='description'>

  <br>
  <label for=''>Author</label>
  <input type='text' name='author'>

  <br>
  <label for=''>Rating</label>
  <input type='number' name='rating'>

  <button type='submit'>ADD</button>
</form>


<a href="/books">
  <button>RETURN</button>
</a>