<form action='/login' method='POST'>

  <label for=''>Email</label>
  <input type='email' name='mail'>

  <label for=''>Password</label>
  <input type='password' name='pass'>

  <button type='submit'>Sign Up</button>

</form>

<a href="/profile"> Profile Page </a>


{{!-- 
<form action='/signup' method='GET'>

  <label for=''>Email</label>
  <input type='email' name='mail'>

  <label for=''>Password</label>
  <input type='password' name='pass'>

  <button type='submit'>Sign Up</button>

</form>

<a href="/profile"> Profile Page </a> 
--}}