<h2>Celebrities Description</h2>

<body>




  <ul>

    <li> Name: {{celebrity.name}} </li>
    <li> Occupation: {{celebrity.occupation}}</li>
    <li> Catchphrase: {{celebrity.catchPhrase}} </li>

  </ul>

  <a href="/celebrities">Back to Celebrity Index</a>



</body>