body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.edit-button {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  padding: 4px 15px;
  background-color: grey;
  border-radius: 6px;
}

.book-title a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
