body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

#main-canvas {
  border: 1px solid red;
  visibility: hidden;
}

#start {
  position: fixed;
  top: 0;
}

#stop {
  position: fixed;
  top: 20;
}
